.profile {
  padding: 40px 0;
  color: $color-green;

  @media (max-width:$mobileSmall) {
    padding: 20px 0;
  }


  &__title {
    margin-bottom: 20px;

    @media (max-width:$mobileSmall) {
      font-size: 17px;
    }
  }

  &__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    gap: 30px 20px;

    @media (max-width:$mobile) {
      grid-template-columns: 1fr;
    }

  }
}

.profile-important {
  width: 100%;
  max-width: 350px;
  text-align: center;
  grid-column: 1 / 3;

  @media (max-width:$mobile) {
    grid-column: auto;
    order: 2;
  }

  &__wrapper {
    @media (max-width:$mobileSmall) {
      padding: 15px;
      border-radius: 5px;
      color: $mainColor;
      background-color: $color-green;
      margin-bottom: 8px;
    }
  }

  &__title {
    font-size: 20px;
    font-weight: 600;
    line-height: 1.3em;
    letter-spacing: -0.408px;
    margin-bottom: 12px;

    @media (max-width:$mobileSmall) {
      font-size: 16px;
    }
  }

  &__text {
    font-size: 15px;
    font-weight: 400;
    line-height: 1.3em;
    letter-spacing: -0.408px;
    margin-bottom: 10px;

    @media (max-width:$mobileSmall) {
      font-size: 14px;
    }
  }

  &__price {
    display: block;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.3em;
    letter-spacing: -0.408px;
    margin-bottom: 25px;

    @media (max-width:$mobileSmall) {
      font-size: 17px;
      margin-bottom: 18px;
    }
  }

  &__btn {
    width: 100%;
    max-width: 215px;
    border-radius: 5px;
  }
}

.profile-bio {
  width: 100%;
  height: 100%;
  max-width: 365px;
  max-height: 256px;
  border-radius: 20px;
  padding: 20px 32px;
  border-radius: 5px;
  border: 1px solid #5B5B5B;
  background: rgba(217, 217, 217, 0.00);
  display: flex;
  justify-content: center;
  flex-direction: column;

  @media (max-width:$mobile) {
    order: 1;
  }

  @media (max-width:$mobileSmall) {
    padding: 15px;
    border-radius: 20px;
  }


  & span {
    display: block;
  }

  &__name {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.3em;
    letter-spacing: -0.408px;
    margin-bottom: 10px;

    @media (max-width:$mobile) {
      font-size: 17px;
    }

    @media (max-width:$mobileSmall) {
      font-size: 15px;
    }
  }

  &__code {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.3em;
    letter-spacing: -0.408px;
    margin-bottom: 10px;

    @media (max-width:$mobile) {
      font-size: 17px;
    }

    @media (max-width:$mobileSmall) {
      font-size: 15px;
    }
  }

  &__phone {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.3em;
    letter-spacing: -0.408px;
    margin-bottom: 25px;

    @media (max-width:$mobile) {
      font-size: 17px;
    }

    @media (max-width:$mobileSmall) {
      font-size: 15px;
    }
  }

  &__btn {
    width: 100%;
    border-radius: 5px;
  }
}

.profile-address {
  width: 100%;
  max-width: 440px;
  border-radius: 5px;
  background: #FFF;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 20px 32px;

  @media (max-width:$mobile) {
    order: 3;
  }

  @media (max-width:$mobileSmall) {
    padding: 15px;
  }

  &__list {
    list-style-type: none;
    counter-reset: item;
    margin-bottom: 20px;
  }

  &__items {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.3em;
    letter-spacing: 1.5px;

    @media (max-width:$mobile) {
      font-size: 17px;
    }

    @media (max-width:$mobileSmall) {
      font-weight: 400;
      font-size: 14px;
    }

    &:before {
      content: counter(item) ') ';
      counter-increment: item;
    }
  }

  &__btn {
    width: 100%;
    border-radius: 5px;
  }
}